// import config
@import "./utils/config";
// import footer
@import "./components/footer";

.header {
  position: relative;
  width: 100%;
  height: 240px;
  background: url(../images/bg-main-mobile.png) center/cover no-repeat;
  &-back-card {
    position: absolute;
    width: 450px;
    height: 245px;
    background: url(../images/bg-card-back.png) center/cover no-repeat;
    top: 0;
    right: 0;
    transform: scale(0.65) translate(20%, -9%);
    border-radius: $radius;
    margin-left: 5rem;
    p {
      position: inherit;
      right: 10%;
      top: 50%;
      transform: translate(-30%, -60%);
      color: $cl_White;
      font-size: 1rem;
      letter-spacing: 1.5px;
    }
  }
  &-front-card {
    position: absolute;
    width: 450px;
    height: 245px;
    background: url(../images/bg-card-front.png) center/cover no-repeat;
    border-radius: $radius;
    bottom: 0%;
    left: 0%;
    transform: scale(0.65) translate(-23%, 50%);
    padding: 2rem;
    color: $cl_White;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.281));
    .card-logo {
      height: 3rem;
      width: 5.5rem;
    }
    .card-detail {
      &-number {
        font-weight: 300;
        font-size: 2.15rem;
        margin-bottom: 1.2rem;
      }
      &-above {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
// content
.content {
  display: grid;
  padding: 5rem 2rem;
  // form
  .form-content {
    .form-above {
      display: flex;
      align-items: flex-start;
      .form-date {
        width: 50%;
        div {
          display: flex;
          .date-year {
            margin: 0 0.4rem;
          }
        }
      }
      .form-cvc {
        width: 50%;
        margin-left: 0.3rem;
      }
    }
  }
  // finish state
  .completed {
    text-align: center;
    display: none;
    &-header {
      margin: 0 auto;
      margin-bottom: 2.5rem;
    }
    &-title {
      text-transform: uppercase;
      font-weight: 500;
    }
    &-text {
      margin: 1rem 0;
      margin-bottom: 3rem;
      font-weight: 500;
      font-size: 1.1rem;
      color: $cl_Darkgrayishviolet;
    }
  }
}
// global btn
.btn {
  margin-top: 2rem;
  border-radius: $radius;
  background: $cl_Verydarkviolet;
  color: $cl_White;
  border: none;
  padding: 0.8rem 0;
  font-size: 1rem;
  transition: $transition;
  &:hover {
    background: lighten($cl_Verydarkviolet, 10);
  }
}
// error input
.error-text {
  color: $cl_Red;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  display: none;
}
// completed state
.unshow-form {
  display: none;
}
// active error message & completed state
.active {
  display: block;
}
.content {
  .active-completed {
    display: block;
  }
}

// media queries
@import "./utils/desktop";
