// import variables
@import "./variables";
// fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap");
// reset style
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
img {
  //   width: 100%;
  display: block;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}
button {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
// global font
body {
  font-size: 18px;
}
input {
  width: 100%;
  display: block;
  height: 2.5rem;
  padding: 0 1rem;
  border: 1px solid $cl_Lightgrayishviolet;
  border-radius: 10px;
}
input::placeholder {
  font-size: 1rem;
  font-family: inherit;
  color: $cl_Lightgrayishviolet;
}
label {
  display: inline-block;
  color: $linearGradient;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin: 0.4rem 0;
  margin-top: 1.5rem;
  text-transform: uppercase;
}
