// ## Colors

// ### Primary

$cl_Red: hsl(0, 100%, 66%);
// ### Neutral

$cl_White: hsl(0, 0%, 100%);
$cl_Lightgrayishviolet: hsl(270, 3%, 87%);
$cl_Darkgrayishviolet: hsl(279, 6%, 55%);
$cl_Verydarkviolet: hsl(278, 68%, 11%);

// linerGradient
$linearGradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

// other variables
$radius: 10px;
$transition: all 250ms linear;
